* {
	box-sizing : 'border-box';
}
h3 {
	margin-top: 10px;
}

img {
	height: 150px;
	width: 150px;
}

input {
	display: block;
}

form > button {
	margin-top: 10px;
}

nav, #header {
	max-width: 1140px;
	margin: auto;
}

#header{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.login{
	margin: auto;
	width: 79%;
}

.available-username {
	color:green;
}

.unavailable-username {
	color:red;
}
