* {
	box-sizing : 'border-box';
}
h3 {
	margin-top: 10px;
}

img {
	height: 150px;
	width: 150px;
}

input {
	display: block;
}

form > button {
	margin-top: 10px;
}

@media only screen and (max-width: 600px) 
{
}

#logo{
	flex-grown: none ;
}
