<div class="container">
    <div class="row">
    	<img src="https://www.projectmanager.com/wp-content/uploads/2017/12/project-manager-software-logo-1.png">
    </div>
    <div class="row">
    	<img src="https://www.projectmanager.com/wp-content/uploads/2017/12/project-manager-software-logo-1.png">
    </div>
</div>