<div class="container">
    <div class="row">
    	<div class="col-sm">
    		<img src="https://www.projectmanager.com/wp-content/uploads/2017/12/project-manager-software-logo-1.png">
    	</div>
    	<div class="col-sm">
    		<h3>Project Manager</h3>
    	</div>
    </div>
</div>