{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {{ form(formRegister) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/register.js" type="text/javascript"></script>
{% endblock %}